{
  "env": {
    "build": {
      "presets": [
        ["env", {
          "targets": {"node": "current"},
          "modules" : false
        }]
      ],
      "plugins": ["external-helpers"]
    },
    "test": {
      "presets": [
        ["env", {
          "targets": {"node": "current"}
        }]
      ]
    },
    "development": {
      "presets": [
        ["env"]
      ]
    }
  }
}