{
  "env": {
    "development": {
      "presets": [
        ["env", {
          "targets": {"node": "current"},
          "modules" : false
        }]
      ],
      "plugins": [
        "external-helpers",
        "annotate-pure-calls"
      ]
    },
    "test": {
      "presets": [
        ["env", {
          "targets": {"node": "current"}
        }]
      ]
    }
  }
}