{
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": {"node": "current"}
        }]
      ]
    }
  },
  "presets": [
    ["env", {
      "targets": {"node": 6, "browsers": [ "> 1%" ]},
      "modules" : false
    }]
  ],
  "plugins": ["external-helpers"]
}
